body{
    background-color: burlywood;

    font-family: Arial, Helvetica, sans-serif;
    color:darkviolet;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-header {
    background-color: cyan;
    text-align: center;
    font-size: 48px;
}

.nav{
    list-style: none;
    display: flex;

}

.nav li{
    margin-right: 20px;
}

.nav a{
    text-decoration: none;
}

